.main-title,
.subtitle,
.small-title {
	font-family: 'montserrat', sans-serif;
	text-transform: uppercase;
}

.kaushan-large-title,
.kaushan-small-title  {
	font-family: 'kaushanscript', sans-serif;
}

.subtitle,
.kaushan-small-title,
.small-title {
	color: $subtitle-color;
}

.main-title {
	@include font-size(150);
	margin: 0 auto 0 auto;
}

.subtitle {
	@include font-size(30);
	margin: 0;
}

.small-title {
	@include font-size(14);
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
}

.kaushan-small-title {
	@include font-size(24);
	margin: 0 0 23px 0;
}

.kaushan-large-title {
	@include font-size(72);
	text-transform: capitalize;
	line-height: 1.2;
	margin-bottom: 60px;
	margin-top: 0;

	@media all and (max-width: 1024px) {
		@include font-size(52);
	}

	@media all and (max-width: 550px) {
		@include font-size(32);
		margin-bottom: 35px;
	}
}

.text-page {
	color: $text-color;
	@include font-size(15);
	font-family: 'roboto', sans-serif;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 0;

	&--max-width {
		max-width: 961px;
		@include auto;
	}

	&--italic {
		font-style: italic;
		font-weight: 300;
	}
}

.icon {
	color: $soft-cyan;
}
