$font-stack: 'roboto', 'montserrat', 'kaushanscript', Arial, Verdana, sans-serif;

$white-color: #fff;
$subtitle-color: #333;
$text-color: #999;
$hover-color: #fce38a;
$soft-cyan: #95e1d3;
$soft-red: #f38181;
$gradient: linear-gradient( 90deg, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%);

